.react-grid.grid {
    display: flex;
    flex-direction: row;
    background-color: green;
    border: 1px solid rgba(0, 0, 0, .4);
    height: 200px;
    overflow: auto;
}

.react-grid.top {
    top:1px;
    left:1px;
    display: flex;
    flex-direction: row;
}

.react-grid.column {
    background-color: white;
}

.react-grid.head {
    background-color: silver;
    border-left: 1px solid rgba(0, 0, 0, .4);
    border-bottom: 1px solid rgba(0, 0, 0, .4);
    padding-left: 4px;
    overflow:hidden;}

.react-grid.cell {
    background-color: white;
    border-left: 1px solid rgba(0, 0, 0, .4);
    border-bottom: 1px solid rgba(0, 0, 0, .4);
    padding-left: 4px;
    overflow:hidden;
}

.react-grid.cell.selected {
    background-color: red;
    border: 1px solid rgba(0, 0, 0, .4);
}
