.react-grid.grid {
    display: flex;
    flex-direction: row;
    border: 1px solid rgba(0, 0, 0, .4);
    height: 200px;
    overflow: auto;
    border-collapse: separate;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    padding: 0px;
    margin: 0px;
    font-family: sans-serif;
}

.react-grid.top {
    top:1px;
    left:1px;
    display: flex;
    flex-direction: row;
}

.react-grid.column {
    background-color: white;
}

.react-grid.head {
    background-color: #d0d0d0;
    border-left: 1px solid white;
    border-right: 1px solid rgba(0, 0, 0, .2);
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    font-weight: normal;
    display: flex;
    flex-direction: row;
}

.react-grid.head-text {
    flex-grow: 1;
    padding: 4px;
    font-weight: bold;
    overflow:hidden;
}

.react-grid.sort-symbol {
    cursor: ew-resize;
}

.react-grid.grip {
    flex-shrink: 0;
    color: #606060;
    border-left: 1px dotted #909090;
    min-width: 4px;
    cursor: ew-resize;
}

.react-grid.cell {
    border-left: 1px solid white;
    border-right: 1px solid rgba(0, 0, 0, .2);
    padding-left: 4px;
    overflow:hidden;
}

.react-grid.cell.selected {
    background-color: #ccf;
}

.react-grid.cell.selected:nth-child(odd):not(.selected) {
    background-color: white;
}

.react-grid.cell:nth-child(even):not(.selected) {
    background-color: #e9e9ff
}
